#coupon {
  .row{
    margin-left: 0px;
    margin-right: 0px;
  }

  .image{
    .col-xs-12{
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .info, .image {
    img {
      width: 100%;
    }
  }

  .info {
    border-bottom: 1px solid #ddd;
    margin: 10px 0px;
    padding: 15px 0px;
    h4 {
      font-weight: 900;
      margin: 0px;
    }
    img {
      border-radius: 100%;
    }
  }

  .panel-heading {
    padding: 0px;
  }

  .panel-heading a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 10px 15px;
  }

  .panel-heading .accordion-toggle {
    background: image-url("arrow-down.png");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right;

    &.collapsed {
      background: image-url("arrow-right.png");
      background-size: 30px 30px;
      background-repeat: no-repeat;
      background-position: right;
    }
  }

  .panel-group .panel-heading + .panel-collapse .panel-body {
    border: none;
  }
}

.term-body {
  background: #EEE;
}
