#scrip, #comments {
  img {
    width: 100%;
  }
}

.scrip-body {
  background: #fff;
  min-height: 100%;
  -webkit-transition: opacity 500ms ease;
  padding-bottom: 80px;
}

#scrip {
  .created-at {
    padding: 10px 10px 5px;
    color: #AAA;
  }

  #owner-info {
    padding-top: 200px;

    #info-inner {
      padding: 10px 0px;
      margin: 0px;
      background: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.9));

      .col-xs-2 {
        line-height: 54px;
        padding-right: 3px;
      }
    }

    #nickname {
      font-family: helvetica neue, lucida grande, sans-serif;
      word-wrap:break-word;
      margin: 0px;
      color: #FFF;
      padding-left: 0px;

      h4 {
        margin: 0px 0px 5px 3px;
        font-size: 16px;
        font-weight: 900;
      }
    }

    #avatar { 
      border-radius: 100%;
    }

    #location-icon {
      padding: 4px;
    }

    #address {
      line-height: 29px;
      padding-left: 0px;
      padding-right: 0px;
      margin-right: 0px;
      font-weight: 300;
      color: #DDD;
      font-size: 13px;

    }

    .col-xs-9 {
      padding-left: 0px;
      padding-right: 0px;
    }
  }

  .quotes {
    .icon-quote {
      width: 16px;

      &.right {
        float: right;
      }
    }
  }

  #content {
    margin: 0px 10px 20px;
    padding-bottom: 20px;
    font-size: 16px;
    font-weight: 300;
    word-wrap:break-word;

    border-bottom: 1px solid #DDD;

    .content-inner {
      margin: -10px 17px 10px;
      line-height: 25px;

      img.emotion {
        width: 25px !important;
        margin: 0px 3px;
        vertical-align: sub;
      }
    }

    .status-labels {
      margin-top: 20px;
      .label {
        margin-right: 5px;
        font-size: 60%;
        border-radius: 1em;
        background: #FFF;
        border: 1px solid #DDD;
        color: #AAA;
        font-weight: normal;
        padding: 5px 15px;
      }
    }
  }

}

@-webkit-keyframes bounceInAndOut {
  0% {
    opacity: 0;
    -webkit-transform: scale(.3);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(0.98);
  }

  60% {
    opacity: 1;
    -webkit-transform: scale(1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.4);
  }
}

.bounceInAndOut {
  -webkit-animation-duration: 800ms;
  -webkit-animation-name: bounceInAndOut;
  -webkit-animation-fill-mode: both;
}

#vote-big {
  width: 100%;
  text-align: center;
  position: fixed;
  left: 0px;
  top: 50%;
  z-index: 10;
  margin-top: -150px;
  display: none;

  img {
    width: 150px;
  }
}

.icon {
  width: 16px !important;
  margin-right: 2px;
  margin-bottom: 4px;
}

.bottom-buttons {
  margin: 0px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: 10;
  -webkit-transition: opacity 500ms ease;

  img {
    width: 100%;
  }
}
