/*
 *= require_self
 *= require layout
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 */

@import "bootstrap";

body {
  padding-top: 50px;
}

.form-select{
  display: inline;
  width: 15%;
}

.place-thumbnail{
  width: 40px;
  height: 40px;
}