/*
 *= require bootstrap-custom
 */

body {
  overflow: hidden;
  background: #ebebeb;

  #message-toolbar {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: #fff;
    z-index: 10;
    padding-top: 10px;
    padding-bottom: 10px;

    .col-xs-9 {
      padding-right: 0px;
    }

    .message-input {
      width: 100%;
    }

    button {
      width: 100%;
    }
  }

  #scroll-wrapper {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 10px;
    bottom: 54px;
    right: 10px;
    width: auto;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #messages {
    position: absolute;
    min-height: 100%;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
    -webkit-transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-text-size-adjust: none;

    ul {
      width: 100%;
      list-style-type: none;
      margin: 0px;
      padding: 10px 0px;
    }

    li.message {
      margin-bottom: 10px;
      min-height: 40px;

      .avatar {
        img {
          width: 90%;
          border-radius: 40px;
        }
      }

      .text {
        .inner {
          background: #fff;
          border-radius: 10px;
          padding: 10px 15px;
          color: #333;
          display: inline-block;

          &.sent-error {
            background: red;
            color: #fff;
          }

          .msg-sending {
            margin-left: 10px;
          }
        }
      }

      &.received {
        .avatar, .text {
          text-align: left;
        }
        .inner:before {
          content: "";
          position: absolute;
          border-style: solid;
          display: block;
          width: 0;

          top: 15px;
          left: 2px;
          bottom: auto;
          right: auto;
          border-width: 5px 8px 5px 0px;
          border-color: transparent #fff;
        }
      }

      &.sent {
        .avatar, .text {
          text-align: right;
        }
        .inner {
          background: #ffc801;
          color: #333;
        }
        .inner:after {
          content: "";
          position: absolute;
          border-style: solid;
          display: block;
          width: 0;

          top: 15px;
          right: 2px;
          bottom: auto;
          left: auto;
          border-width: 5px 0 5px 8px;
          border-color: transparent #ffc801;
        }
      }
    }
  }
}
