/*
 *= require bootstrap-custom
 *= require_self
 *= require information/scrips2
 *= require information/ios-fix2
 *= require information/comments2
 */

input:focus{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-modify: read-write-plaintext-only;
}

.show-image {
  -webkit-transition: all 500ms ease;
  background-position-y: 45% !important;
  background-size: 100% !important;

  #info-inner, .bottom-buttons, .scrip-body {
    opacity: 0;
  }
}
